<div class="main-gradient">
  <mat-toolbar color="primary">
    <span>Detalles del Evento</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="volver()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content">
    <!-- Sección Detalles del Evento -->
    <!-- Deportistas inscriptos -->
    <div *ngIf="deportistasInscritos && deportistasInscritos.length > 0">
      <h3>Deportistas Inscriptos</h3>
      <mat-list>
        <mat-list-item *ngFor="let dep of deportistasInscritos">
          <mat-icon matListIcon>person</mat-icon>
          <div class="mat-line">{{ dep.nombre }} ({{ dep.dni }})</div>
          <div class="mat-line secondary">{{ dep?.categoria }} - {{ dep?.club }}</div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="card-section" *ngIf="evento">
      <h2>Info del Evento</h2>
      <p><strong>Nombre:</strong> {{ evento.nombre }}</p>
      <p><strong>Lugar:</strong> {{ evento.lugar }}</p>
      <p><strong>Descripción:</strong> {{ evento.descripcion }}</p>
      <button mat-raised-button color="accent" (click)="onSubmitInscripcion()">Inscribirme</button>
    </div>

  </div>

  <div>
    <mat-card class="card-section" *ngIf="eventos.length > 0">
      <h2>Eventos Disponibles</h2>
      <mat-list>
        <mat-list-item *ngFor="let ev of eventos">
          <mat-icon matListIcon>event</mat-icon>
          <div class="mat-line">{{ ev.nombre }} – {{ ev.fecha | date:'dd/MM/yyyy' }}</div>
          <div class="mat-line secondary">{{ ev.lugar }}</div>
          <button mat-stroked-button color="accent" (click)="verDetalleEvento(ev.id)">Ver Detalles</button>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>